{% extends "core.html" %}

{% block "title" %}<title> Contact Page</title> {% endblock "title" %}

{% block "h1" %}
    <h1>This is contact page</h1>
{% endblock "h1" %}


{% block "footer" %}
    <footer>
        This is my contact page footer
        <hr>
        <form>
            Email : <input type="email" name="" id="">
            <br><br>
            Password : <input type="password" name="" id="">
            <br><br>
            <input type="submit" value="Login">
        </form>
    </footer>
{% endblock "footer" %}