body{
    background-color: green;
    margin: 0px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    height: 30px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
ul li{
    display: inline;
    margin-left: 25%;
}